.input-email__text {
	outline: none;
	border: none;
}
.input-email p {
	font-size: 12px;
	color: #7c7c7c;
	font-weight: 300;
	margin: 0;
	margin-top: 16.38px;
}

input {
	border: none;
	border-bottom: 0.7px solid #f2f2f2;
	background: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.input-email {
	margin-left: 15.1px;
	margin-right: 22.5px;
}
.input-email__text input {
	width: 234.5px;
	height: 20px;
	padding-bottom: 1px;
	font-size: 14px;
}

/***********************/

.input-email {
	-webkit-animation-name: input-email;
	animation-name: input-email;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 4s;
}
@-webkit-keyframes input-email {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes input-email {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.ok {
	/**/
}
.error {
	border-bottom: 1px solid #ff2222;
	color: #ff2222;
	transition: 0.1s;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
}
